@import "./src/_fonts";


.BlackInDarkIn {
  text-align: left;
  width: 756px;
  height: 1080px;
  background-color: #191719;
}

.black{
  text-align: center;
}
.poster{
  height: 1080px;
  font-family: 'West';
  font-size: 264px;
  font-weight: 800;
  color: white;
  display: grid;
  grid-template-rows: 50% 50%;
}

.upperWrapper{
  height: 486px;
  grid-row: 1;
  margin: 0% 5% 0 5%;
  text-align: center;
}

.lowerWrapper{
  height: 486px;
  grid-row: 2;
  margin: 0 5% 0% 5%;
  text-align: center;
}

.blackLine{
  text-align: center;
  margin-bottom: -50px;
  margin-left: -17px;
  margin-top: -24px;
}
.inLine{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  overflow: hidden;
}

.firstIn{
  grid-column: 2;
  align-self: start;
  margin-top: -125px;
}

.generalInformation{
  font-size: 12px;
  font-weight: 200;
  grid-column: 3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 5%;

}

.darkLine{
  margin-bottom: -50px;
  margin-top: 50px;
}
.authorLine{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  overflow: hidden;
}

.hubertusHamm{
  font-size: 12px;
  font-weight: 200;
  grid-column: 1;
  margin-left: 20px;
}

.secondIn{
  grid-column: 2;
  margin-top: -125px;
}



