@import "./src/_fonts";



.BlackInDarkIn {
  text-align: left;
  width: 756px;
  height: 1080px;
  background-color: #191719;
}

.black{
  text-align: center;
}
.poster{
  height: 1080px;
  font-family: 'West-VF';
  font-size: 264px;
  color: white;
  display: grid;
  grid-template-rows: 50% 50%;
  font-weight: 720;
  font-variation-settings: 'wght' 650, 'wdth' 100;
}

.upperWrapper{
  height: 540px;
  grid-row: 1;
  margin: 10% 5% 0 5%;
  overflow: hidden;
}

.lowerWrapper{
  height: 540px;
  grid-row: 2;
  margin: 0 10% 5% 5%;
  overflow: hidden;
}

.blackLine{
  text-align: center;
  margin-bottom: -50px;
  margin-left: -17px;
  margin-top: -100px;
}
.inLine{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  overflow: hidden;
}

.firstIn{
  grid-column: 2;
  align-self: start;
  margin-top: -160px;
}

.smallBlock{
  font-variation-settings: 'wght' 250, 'wdth' 100;
  font-size: 12px;
}

.generalInformation{
  grid-column: 3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 5%;

}

.darkLine{
  margin-bottom: -50px;
  //margin-top: 50px;
}
.authorLine{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  overflow: hidden;
}

.hubertusHamm{
  grid-column: 1;
  margin-left: 20px;
}

.secondIn{
  grid-column: 2;
  margin-top: -160px;
}

