@import "./src/_fonts";

$fontWghtBlack: 250;


.BlackInDarkIn {
  text-align: center;
}

.black{
  font-variation-settings: 'wght' $fontWghtBlack;
  text-align: center;
}
.poster{
  width: 661px;
  height: 1080px;
  background-color: #191719;
  font-family: 'AvenirNext-VF';
  font-size: 200px;
  color: white;
}

.firstLine{
  text-align: center;

}
.secondLine{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  overflow: hidden;
}

.firstIn{
  grid-column: 2;
  align-self: start;
  margin-top: -120px;
}

.generalInformation{
  font-size: 12px;
  grid-column: 3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 5%; // maybe needs to be changed
}

.thirdLine{

}
.fourthLine{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  overflow: hidden;
}

.hubertusHamm{
  font-size: 12px;
  grid-column: 1;
}

.secondIn{
  grid-column: 2;
  margin-top: -120px;
}



