@import "./src/_fonts";

.BlaBlaBlaKatStatic {
  width: 1322px;
  height: 2160px;
  font-family: 'Sequel-Sans-Heavy';
  text-align: center;
  font-size: 580px;
  overflow: hidden;
  font-weight: 900;
}

.firstLine{
  margin-bottom: -320px;
}

.secondLine{
  margin-bottom: -320px;
}

.thirdLine{
  margin-bottom: -320px;
}

.fourthLine{
  margin-bottom: -320px;
}
