@import "./src/_fonts";

$border: transparent;


// Putting this in JS changes the variable axis
// text.style.setProperty("--axis", 0);

.poster{
  width: 1322px;
  height: 2160px;
  background-color: blueviolet;
}

.SwimCity {

  color: #a9d6e4;
  //overflow: hidden;

  margin: 2%;
  //font-family:'WHOA-Spine';  -> Correct implementation?
  /*--axis: 750;
  --axis2: 750;
  //color: transparent;
  color: #ADD4E5;
  font-variation-settings: 'hrzn' 0, 'vert' 0, 'rota' 0;
  //font-variation-settings: "hrzn" var(--axis3), "vert" var(--axis2), "rota" var(--axis);
  //background: linear-gradient(to right, #59c173, #a17fe0, #5d26c1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ADD4E5;*/



 /* &::before {
    //content: attr(data-text);
    position: relative;
    font-family:'WHOA-Top';
    text-shadow:
            -1px -1px 0 $border, 1px -1px 0 $border, -1px 1px 0 $border, 1px 1px 0 $border;
    background: none;
    color: #ADD4E5;
    -webkit-background-clip: none;
    -webkit-text-fill-color: #ADD4E5;
  }*/
}

.topInfoLine{
  font-size: 20px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.hostInfo{
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 10px;
}

.locationInfo{
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 10px;
}

.openingHoursInfo{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin: 10px;
}

.lastLine{
  margin: 10px;
  text-align: right;
}

.rightBox{
  text-align: right;
}

.middleBox{
  text-align: right;
}

.dateBlock{
  font-size: 400px;
  display: grid;
  grid-template-rows: 50% 50%;
}

.dateBlockTop{
  font-family: 'WHOA-Top';
  grid-column: 1;
  grid-row: 1;

}

.dateBlockSpine{
  font-family: 'WHOA-Spine';
  grid-column: 1;
  grid-row: 1;
  z-index: 9;
  font-variation-settings: "hrzn" -500, "vert" 300, "rota" 32, "zoom" 300;
  animation: waves2 12s infinite linear both;
}

.dateLine{
  display: flex;
  flex-direction: row;
  margin-bottom: -250px;
}

.firstDateLine{
  justify-content: space-between;
}

/*.dateDash{
  font-stretch: expanded;
}*/

.secondDateLine{
}
.eventName{

  height: 1512px;
  text-align: center;
  display: grid;
  grid-template-rows: 50% 50%;
}

.eventNameTop{
  font-family: 'WHOA-Top';
  font-size: 600px;
  grid-column: 1;
  grid-row: 1;
  margin-bottom: -350px;
  //font-variation-settings: "hrzn" -500, "vert" 300, "rota" 0, "zoom" 300;
}

@property --test {
  syntax: '<number>';
  inherits: false;
  initial-value: 1000;
}



.eventNameSpine{
  font-family: 'WHOA-Spine';
  font-size: 600px;
  grid-column: 1;
  grid-row: 1;
  z-index: 9;
  animation: waves2 12s infinite linear both; //cubic-bezier(0,0,1,1) cubic-bezier(.5,.75,.65,.44)
  //top: calc((50 + var(--test1))*1%);
  //font-variation-settings: "hrzn" -1000, "vert" -1000, "rota" 32, "zoom" 300;
  //font-variation-settings: "hrzn" 1000, "vert" calc(-1000 + var(--test1)), "rota" 32, "zoom" 300;
  //transition: --test1 2s cubic-bezier(.5, 3460, .5, -3460);
  margin-bottom: -350px;
  /*animation:
    testX 10s linear infinite alternate,
    testY 10s infinite cubic-bezier(.5, 10000, .5, -10000) alternate;
*/

  //animation: vert 2s infinite cubic-bezier(.5, 3460, .5, -3460) alternate;
  //animation: waves 7s infinite cubic-bezier(0, 4,0, 4);
}

.swimLineSpine{
  //font-variation-settings: "hrzn" -1000, "vert" -1000, "rota" 32, "zoom" 300;

  //animation: testWaves 8s infinite linear both alternate-reverse;
  //        testY 5s infinite cubic-bezier(.5, 3, .5, -2), testX 5s infinite cubic-bezier(.5, 3, .5, -2) alternate;
  //animation-timing-function: cubic-bezier(.5, 1, .5, -1);
  //transition: font-variation-settings 10s cubic-bezier(.5, 3, .5, -2);
  //top: calc((50 + var(--test1))*1%);
  //font-variation-settings: "hrzn" 1000, "vert" calc(-1000 + var(--test1)), "rota" 32, "zoom" 300;
  //transition: --test1 2s cubic-bezier(.5, 3460, .5, -3460);
}




// hrzn = x; vert = y

.event{
  margin-bottom: -450px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.letters{
}


@keyframes testX {
  0% {
    font-variation-settings: "hrzn" -1000;
  }
  100% {
    font-variation-settings: "hrzn" 1000;
  }

}

@keyframes testY {
  from{
    font-variation-settings: "vert" -1000;
  }
  to {
    font-variation-settings: "vert" 1000;
  }

}

@keyframes vert {
  to {
    font-variation-settings: "vert" 999;
  }
}

@keyframes testWaves {
  0%{font-variation-settings: "hrzn" -1000, "vert" 0, "rota" 0, "zoom" -500}
  25% {font-variation-settings: "hrzn" -500, "vert" 1000, "rota" 0, "zoom" -500}
  //50%{font-variation-settings: "hrzn" 0, "vert" -1000, "rota" 0, "zoom" -500}
  75% {font-variation-settings: "hrzn" 500, "vert" -1000, "rota" 0, "zoom" -500}
  100%{font-variation-settings: "hrzn" 1000, "vert" 0, "rota" 0, "zoom" -500}
}

@keyframes testwaves2 {
  0% {font-variation-settings: "hrzn" -1000, "vert" 0, "rota" 0, "zoom" -500}
  100%{font-variation-settings: "hrzn" 1000, "vert" 0, "rota" 0, "zoom" -500}

}

@keyframes waves2 {
  0%{font-variation-settings: "hrzn" -1000, "vert" 0, "rota" 0, "zoom" -1000; opacity: 0;}
  25% {font-variation-settings: "hrzn" -500, "vert" 1000, "rota" 0, "zoom" -750; opacity: 1}
  50%{font-variation-settings: "hrzn" 0, "vert" -1000, "rota" 0, "zoom" -500}
  75% {font-variation-settings: "hrzn" 500, "vert" 1000, "rota" 0, "zoom" -750; opacity: 1}
  100%{font-variation-settings: "hrzn" 1000, "vert" 0, "rota" 0, "zoom" -1000; opacity: 0}
}

@keyframes waves {
  0%{font-variation-settings: "hrzn" -1000, "vert" 0, "rota" 0, "zoom" -500}
  12.5% {font-variation-settings: "hrzn" -500, "vert" 1000, "rota" 0, "zoom" -500}
  25%{font-variation-settings: "hrzn" 0, "vert" -1000, "rota" 0, "zoom" -500}
  37.5% {font-variation-settings: "hrzn" 500, "vert" 1000, "rota" 0, "zoom" -500}
  50%{font-variation-settings: "hrzn" 1000, "vert" 0, "rota" 0, "zoom" -500}
  62.5% {font-variation-settings: "hrzn" 500, "vert" -1000, "rota" 0, "zoom" -500}
  75%{font-variation-settings: "hrzn" 0, "vert" 1000, "rota" 0, "zoom" -500}
  87.5% {font-variation-settings: "hrzn" -500, "vert" -1000, "rota" 0, "zoom" -500}
  100%{font-variation-settings: "hrzn" -1000, "vert" 0, "rota" 0, "zoom" -500}
}



