.TAnimation {
  font-size: 80px;
}

.Tsp{
  font-size: 80px;

}

.animate-tsp{
  animation: pulse 10s ease-in-out;
}


@keyframes pulse {
  0% {
    font-variation-settings: 'wght' 400;
  }

  25% {
    font-variation-settings: 'wght' 550;
  }
  50% {
    font-variation-settings: 'wght' 700;
  }
  75% {
    font-variation-settings: 'wght' 550;
  }

  100% {
    font-variation-settings: 'wght' 400;
  }
}