@import "../../../../fonts";

.Tsp {
  font-family: 'Helvetica Now-VF';
  font-size: 80px;
  font-variation-settings: 'wght' 700;
  width: 1080px;
}

.firstLine{
  display: grid;
  grid-template-rows: 5% 95%;

  .shortLine{
    margin-left: 20px;
    margin-top: 45px;
    height: 96px;
    width: 3px;
  }
}
.tAnimation{
  margin-left: 24px;
  position: relative;
  font-variation-settings: 'wght' 1000;
  //height: 200px;
  animation: t-animation 5s forwards ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  animation-delay: 2s;
  grid-row-start: 2;
  width: 50px;
}

.tBackground{
  background: no-repeat url("../../../../assets/graphic_elements/TMovement.svg");
  //background-size: 500px 200px;
  height: 100px;
  z-index: -1;
  margin-top: 29px;
  margin-left: -500px;
  grid-row-start: 2;
}

.secondLine {
  margin: -30px 0 0 44px;
  display: flex;
}

.bigFont{
  display: flex;
}

.thirdLine {
  margin-left: 64px;
  display: flex;
}
.fourthLine{
  margin-left: 92px;
  display: flex;
}

.fallingAnimationWithHelperLines{
  margin-top: 20px;
}

.upperHelperLine{
  background: no-repeat url("../../../../assets/graphic_elements/Line_left_60deg.svg");
  height: 50px;
  width: 100%;
  margin-left: 230px;
}

.fallingAnimation{
  font-variation-settings: 'wght' 50;
  position: relative;
  animation: falling-animation 350ms forwards ease-in;
  -webkit-animation-timing-function: ease-in;
  animation-delay: 8500ms;
  margin-left: 270px;
  margin-top: -99px;
  margin-bottom: -10px;
}

.lowerHelperLine{
  background: no-repeat url("../../../../assets/graphic_elements/Line_left_60deg.svg");
  height: 50px;
  width: 100%;
  margin-left: 260px;
  margin-top: -35px;
}



.sixthLine{
  display: flex;
  margin-top: 30px;
  height: 150px;
}

.diagonalLine{
  opacity: 0;
  background: no-repeat url("../../../../assets/graphic_elements/Line_45deg.svg");
  height: 75px;
  width: 75px;
  margin-top: 25px;
  margin-left: -75px;
  animation: pushRightAndDisplay 2s forwards ease-in-out;
  animation-delay: 6500ms;
}

.summerAnimation {
  display: flex;
}

.movingInFromRightToLeft{
  display: flex;
  flex-direction: row;
  opacity: 0;
  //left: 1300px;
  position: relative;
  font-variation-settings: 'wght' 400;
  animation: movingInFromRightToLeft 2s forwards ease-in-out;
  animation-delay: 10s;
}

.multipleChars{
  display: flex;
}

.movingRightMultipleCharsAnimation{
  display: flex;
  position: relative;
  animation: pushing-right 2s forwards ease-in-out;
  animation-delay: 6500ms;
}

.movingFarRightAnimation{
  display: flex;
  position: relative;
  animation: movingFarRight 2s forwards ease-in-out;
  animation-delay: 6500ms;
}

.leftLongLine{
  background: no-repeat url("../../../../assets/graphic_elements/Middle_Longest_Line.svg");
  width: 2px;
  height: 200px;
  margin-top: 25px;
}

.rightLongLine{
  background: no-repeat url("../../../../assets/graphic_elements/Longest_Line.svg");
  width: 2px;
  height: 250px;
  margin-top: 25px;
}

.farMovingAnimation{
  display: flex;
  position: relative;
  //animation: movingFarRight 2s forwards ease-in-out;
  //animation-delay: 6500ms;
}

.farMovingLettersAnimation{
  display: flex;
  position: relative;
  animation: pushing-right 2s forwards ease-in-out;
  animation-delay: 6500ms;
}

.farMovingAnimationFirstM{
  display: flex;
  position: relative;
}

.seventhLine {
  display: flex;
  margin-left: 24px;

}

.eighthLine{
  display: flex;
  margin-left: 138px;
}

.pullingArrowLeft{
  background: no-repeat url("../../../../assets/graphic_elements/Arrow left_ back.svg");
  width: 75px;
  height: 75px;
  margin-top: 25px;
}

.pullingArrowRight{
  background: no-repeat url("../../../../assets/graphic_elements/Arrow_right_back.svg");
  width: 75px;
  height: 75px;
  margin-top: 25px;
}

.ninethLine {
  display: flex;
  margin-left: 24px;
}

.tenthLine{
  display: flex;
  margin-left: 138px;
}

.pointDroppingAnimation{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.dotDropAnimation{
  display: flex;
  order: 1;
  height: 30px;
  align-items: center;
  transform: translateY(-50%);
  font-size: 77px;
  position: relative;
  animation: dotDropAnimation 300ms forwards ease-in-out;
  animation-delay: 13000ms;
}

.pushingArrowDown{
  background: no-repeat url("../../../../assets/graphic_elements/Arrow_down_left.svg");
  width: 75px;
  height: 75px;
  margin-top: 25px;
}

.shortLine{
  background: no-repeat url("../../../../assets/graphic_elements/Shortest_Line.svg");
  width: 2px;
  height: 75px;
  margin-top: 25px;
}

.singleSmallerChar{
  overflow: hidden;
  order: 2;
  display: flex;
  align-items: center;
  height: 43px;
}

.pushingBlockAnimation{
  display: flex;
  flex-direction: row;
  font-size: 16px;
  margin-top: 13px;
  //margin-left: 5px;
  font-variation-settings: 'wght' 400;
  position: relative;
  opacity: 0;
  animation: displaySmallFontsAfterAnimations 500ms forwards ease-in-out, stretchAndPush 300ms forwards ease-in-out;
  animation-delay: 10s, 12700ms;
}

.pushingText{
  display: flex;
  flex-direction: column;
}

.pushingArrowLeft{
  background: no-repeat url("../../../../assets/graphic_elements/Push_arrow_left.svg");
  width: 75px;
  height: 75px;
  margin-top: 5px;
  margin-left: 5px;
}

.twelvesLine{
  display: flex;
  justify-content: space-between;
  .smallFontBlock{
    animation-delay: 17s;
  }
}

.smallFontBlock{
  font-size: 16px;
  margin-top: 22px;
  margin-left: 5px;
  font-variation-settings: 'wght' 400;
  opacity: 0;
  animation: displaySmallFontsAfterAnimations 500ms forwards ease-in-out;
  animation-delay: 17s;
}

.thirdLineSmallFontBlock{
  font-size: 16px;
  margin-top: 22px;
  margin-left: 5px;
  font-variation-settings: 'wght' 400;
  opacity: 0;
  animation: displaySmallFontsAfterAnimations 500ms forwards ease-in-out;
  animation-delay: 17s;
}

.seventhLineSmallFontBlock{
  font-size: 16px;
  margin-top: 22px;
  margin-left: 5px;
  font-variation-settings: 'wght' 400;
  opacity: 0;
  animation: displaySmallFontsAfterAnimations 500ms forwards ease-in-out;
  animation-delay: 17s;
}

.headerSlim{
  font-variation-settings: 'wght' 400;
  font-size: 60px;
}

.headerFat{
  font-variation-settings: 'wght' 700;
  font-size: 60px;
}

.pullingRightAnimation{
  position: relative;
  animation: stretchingToLeft 500ms forwards ease-in-out;
  animation-delay: 9500ms;
}

.pullingRightAnim{
  display: flex;
  animation: pushing-right 2s forwards ease-in-out;
  animation-delay: 10500ms;
}

.pullingLeftAnimation{
  position: relative;
  animation: stretchingToRight 500ms forwards ease-in-out;
  animation-delay: 9500ms;
}

.rotatedLineLeft{
  margin-left: 215px;
  transform: rotate(-45deg);
}

.rotatedLineRight{
  transform: rotate(45deg);
  margin-left: 120px;
}

.layingLine{
  width: 64px;
  text-align: center;
  transform: rotate(90deg);
  margin: 0 60px;
}

.movingRightAnimation {
  display: flex;
  position: relative;
  animation: pushing-right 2s forwards ease-in-out;
  animation-delay: 6500ms;
}

.movingAndFadingAnimation{
  display: flex;
  position: relative;
  animation: movingFarRight 2s forwards ease-in-out;//, fading-i 4s forwards ease-in-out;
  animation-delay: 6500ms;
}

.backgroundFadingI{
  background: no-repeat url("../../../../assets/graphic_elements/Fading_i.svg");
  height: 75px;
  width: 100%;
  z-index: -1;
  margin-top: 25px;
  margin-left: 60px;
}

.stayingBlock{
  display: flex;
  .smallFontBlock{
    animation-delay: 10s;
  }
}

.stayingChars{
  display: flex;
}

.eleventhLineAnimation{
  display: flex;
  position: relative;
  font-variation-settings: 'wght' 50;
  animation: speeding-in 1500ms forwards ease-in;
  animation-delay: 14s;
}

@keyframes t-animation{
  0% {font-variation-settings: 'wght' 1000, 'opsz' 4; transform: translateX(0) translateY(0)}
  10% {font-variation-settings: 'wght' 50, 'opsz' 30; transform: translateX(130px) translateY(100px)}
  20% {font-variation-settings: 'wght' 1000, 'opsz' 4; transform: translateX(260px) translateY(0px)}
  30% {font-variation-settings: 'wght' 50, 'opsz' 30 ; transform: translateX(390px) translateY(100px)}
  40% {font-variation-settings: 'wght' 1000, 'opsz' 4; transform: translateX(520px) translateY(0px);}
  50% {font-variation-settings: 'wght' 50, 'opsz' 30; transform: translateX(650px) translateY(100px);}
  60% {font-variation-settings: 'wght' 1000, 'opsz' 4; transform: translateX(780px) translateY(0px);}
  70% {font-variation-settings: 'wght' 50, 'opsz' 30; transform: translateX(910px) translateY(100px);}
  80% {font-variation-settings: 'wght' 1000, 'opsz' 4; transform: translateX(1040px) translateY(0px);}
  90% {font-variation-settings: 'wght' 50, 'opsz' 30; transform: translateX(1170px) translateY(100px);}
  100% {font-variation-settings: 'wght' 700, 'opsz' 4; transform: translateX(1300px) translateY(0);}
}

@keyframes falling-animation{
  0% {font-variation-settings: 'wght' 50; transform: translate(0)}
  80% {transform: translate(-50px, 50px);}
  100% {font-variation-settings: 'wght' 700; transform: translate(-40px, 40px);}
}

@keyframes pushing-right {
  0%{transform: translate(0)}
  100% {transform: translateX(30px)}
}

@keyframes fading-i {
  0% {font-variation-settings: 'wgth' 700; transform: translate(0)}
  100% {font-variation-settings: 'wght' 50; transform: translateX(100px)}
}

@keyframes speeding-in {
  0% {font-variation-settings: 'wght' 50; transform: translate(0)}
  100% {font-variation-settings: 'wght' 700; transform: translateX(1000px)}
}

@keyframes movingInFromRightToLeft {
  0% {opacity: 0;font-variation-settings: 'wght' 400; transform: translateX(1300px);}
  100% {opacity: 1;font-variation-settings: 'wght' 700; transform: translateX(200px);}
}

@keyframes displaySmallFontsAfterAnimations {
  0% {opacity: 0}
  100% {opacity: 1}

}

@keyframes stretchingToLeft {
  0% {transform: translate(0); font-variation-settings: 'wght' 700}
  50% {transform: translateX(60px); font-variation-settings: 'wght' 500}
  100% {transform: translateX(0px); font-variation-settings: 'wght' 700}
}

@keyframes stretchingToRight {
  0% {transform: translateX(0px); font-variation-settings: 'wght' 700}
  30% {transform: translateX(-60px); font-variation-settings: 'wght' 300}
  100% {transform: translateX(0px); font-variation-settings: 'wght' 700}
}

@keyframes dotDropAnimation {
  0% {transform: translate(0);}
  30% {transform: translate(-7px, 0);}
  40% {transform: translate(-15px, 5px);}
  100% {transform: translate(-30px, 32px);}
}

@keyframes stretchAndPush {
  0% {transform: translate(0) }
  50% {transform: translateX(10px); }
  100% {transform: translate(0);}
}

@keyframes movingFarRight {
  0% {transform: translate(0)}
  100% {transform: translateX(60px);}
}

@keyframes moving-R-Right {
  0% {transform: translate(0);}
  100% {transform: translateX(90px);}
}

@keyframes movingFarLeft {
  0% {transform: translate(0)}
  100% { transform: translateX(-60px);}
}

@keyframes pushRightAndDisplay {
  0% {opacity: 0; margin-left: -95px; }
  80%{ opacity: 0;}
  100% {opacity: 1; margin-left: 30px; }
}


