@font-face {
  font-family: 'Arimo-VF';
  src: url("../src/assets/fonts/Arimo-VariableFont_wght.woff2") format('woff2-variations');
}


@font-face {
  font-family: 'AvenirNext-VF';
  src: url("../src/assets/fonts/AvenirNextVariable-Roman.woff2") format('woff2-variations');
  font-weight: 250 900;
}
